.padding-zero {
    padding: 0;
}

.padding-five {
    padding: 5px;
}

.margin-zero {
    margin: 0 auto;
}

.margin-zero-ten {
    margin: 0 10px;
}

.margin-bottom-twenty {
    margin-bottom: 20px;
}

.border-zero {
    border: 0;
}

.inline {
    display: inline;
}

.relative {
    position: relative;
}

/*轮播图图片样式*/
.item > img {
    width: 100%;
}

/*a标签样式*/
.a-style {
    color: #000;
}

.a-style:hover {
    color: #000;
}
/*每行移入阴影*/
.body-index:hover {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
/*课程列表行*/
.nature-grid {
    max-width: 242px;
    border-radius: 8px;
    max-height: 350px;
    border: 1px solid silver;
    padding: 4px;
    list-style: none;
    float: left;
    margin: 0 26px;
}

.nature-grid:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*课程图片样式*/
.course-image img {
    max-width: 234px;
    max-height: 175px;
}

/*课程标题样式*/
.course-image h4 {
    color: white;
    background: black;
    opacity: 0.7;
    position: absolute;
    top: 160px;;
    width: 96.5%;
}

/*课程内容范式*/
.nature-grid p {
    overflow: hidden;
    line-height: 20px;
    min-height: 50px;
    font-size: 12px;
    color: silver;
    padding: 7px 0 6px 2px;
    margin-bottom: 1px;
}

/*课程讲师及评价行*/
.metas {
    border-top: 1px solid #eee;
    color: #9b9b9b;
    display: block;
    font-size: 12px;
    line-height: 1.2px;
    margin: 0 1px;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
}

.course-person {
    color: #b7b7b7;
    float: left;
    padding: 7px 10px 6px 7px;
    width: auto;
}
.review-col{
    float: right;
    padding: 7px 0 6px 7px;
}

.teachers {
    display: block;
    margin: 0 1px 1px;
    padding-top: 5px;
    color: #999;
}

 .teacher {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 1px;
    overflow: hidden;
    padding-bottom: 1px;
    padding-left: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
.text-muted {
    color: #777;
    text-decoration:none;
}
.text-muted:hover{
    color: #4ac815;
    text-decoration:none;
}
.teachers .btn-mini{
    padding: 2px 8px;
    font-size: 12px;
}
