#register{
    margin: 0;
    padding: 0;
    background: #ececec;
}
/*#content{*/
    /*background: #ececec;*/
/*}*/
#panelRe{
    margin-top: 15px;
    margin-bottom: 15px;
}
#s_register{
    margin-bottom: 20px;
}
#foot{
    padding: 0;
}